/**************************
*********Checkbox*********
**************************/
.labelContainer {
  display: block;
  position: relative;
  padding: 2px 0 16px 29px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 16px;
}

.labelContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: var(--lightBlue);
  border-radius: 2px;
}

.labelContainer input:checked ~ .checkmark {
  background-color: var(--violet);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.labelContainer input:checked ~ .checkmark:after {
  display: block;
}

.labelContainer .checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.labelContainer:last-child {
  padding-bottom: 0;
}
