/**************************
********Date Picker********
**************************/
.react-datepicker-wrapper {
  display: flex;
}

.customInput {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--inputBorderColor);
  background: var(--inputBackground);
  color: var(--textPrimary);
  font-family: 'League Spartan', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  height: 48px;
  width: 100%;
}

.customInput:hover{
  border: 1px solid var(--violet);
}

.customInput:focus-visible {
  outline: #7C5DFA solid 1px;
}

.calendarIcon {
  margin-right: 20px;
}

.react-datepicker__input-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.react-datepicker__day-name {
  display: none;
}

.react-datepicker__header {
  background-color: var(--datePickerBackground);
  border-bottom: none;
  padding-bottom: 32px;
  padding-top: 10px;
}

.react-datepicker {
  border: none;
  border-radius: 8px;
  background: var(--datePickerBackground);
  font-family: 'League Spartan', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.react-datepicker-popper {
  z-index: 100;
}

.react-datepicker__view-calendar-icon input {
  padding: 0 20px;
}

.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
  border-color: #7C5DFA;
  height: 6px;
  width: 6px;
}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  color: var(--textPrimary);
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  color: var(--textPrimary);
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
  background-color: transparent;
  color:#7C5DFA
}

..react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover, .react-datepicker__year-text--selected:hover, .react-datepicker__year-text--in-selecting-range:hover, .react-datepicker__year-text--in-range:hover {
  background-color: transparent;
  color:#7C5DFA
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover, .react-datepicker__year-text--selected:hover, .react-datepicker__year-text--in-selecting-range:hover, .react-datepicker__year-text--in-range:hover {
  background-color: transparent;
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover {
  color: #7C5DFA;
  background-color: transparent;
}
