/****************************
************Form*************
****************************/
.formContainer {
  padding: 0 24px;
  background-color: var(--backgroundForm);
}

.inputCityContainer {
  display: flex;
  flex-wrap: wrap;
}

.inputCityContainer .inputContainer {
  flex: 1 1 50%;
  min-width: 0;
}

#cityFrom {
  margin-right: 12px;
}

#postFrom {
  margin-left: 12px;
}

.inputCityContainer .inputContainer:nth-child(2) .labelContainer {
  margin-left: 12px;
}

.inputCityContainer .inputContainer:nth-child(3) {
  flex-basis: 100%;
}

#cityTo {
  margin-right: 12px;
}

#postTo {
  margin-left: 12px;
}

.formItemListText {
  color: #777F98;
  font-family: 'League Spartan', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.375px;
}

.itemListContainer {
  margin-bottom: 24px;
}

.itemListContainer .inputContainer {
  margin-bottom: 0;
}

.itemListContainer > .inputContainer:first-child {
  margin-bottom: 24px;
}

.priceContainer {
  display: flex;
  width: 100%;
}

.numberPriceContainer {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.deleteIconContainer {
  cursor: pointer;
  display: flex;
  padding-top: 35px;
}

.deleteIconContainer svg path:hover {
  fill: var(--red);
}

.priceContainer .inputContainer:first-child {
  width: 33%;
  margin-right: 16px;
}

.priceContainer .inputContainer:nth-child(2) {
  width: 33%;
  margin-right: 16px;
}


.totalPriceContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.invoiceDateContainer {
  margin-bottom: 24px;
}

.billInputHeading {
  color: var(--violet);
  margin-bottom: 24px;
  margin-top: 24px;
}

.dateTermsContainer {
  margin-bottom: 24px;
}


@media (min-width: 768px) {
  .formContainer {
    height: 100%;
    width: 600px;
  }

  .inputCityContainer {
    flex-wrap: nowrap;
  }

  .inputCityContainer .inputContainer {
    flex: auto;
    margin-right: 24px;
  }

  .inputCityContainer .inputContainer:nth-child(2) .labelContainer {
    margin-left: 0;
  }

  .inputCityContainer .inputContainer:nth-child(3) {
    flex-basis: auto;
    margin-right: 0;
  }


  .dateTermsContainer {
    display: flex;
  }

  .invoiceDateContainer {
    margin-right: 24px;
    width: 50%;
  }

  .paymentTermsContainer {
    width: 50%;
  }

  .itemListContainer {
    display: flex;
  }

  .itemListContainer > .inputContainer {
    width: 45%;
    margin-right: 24px;
  }

  .itemListContainer > .inputContainer:first-child {
    margin-bottom: 0;
  }

  .priceContainer {
    width: 55%;
  }

  .priceContainer .inputContainer:first-child {
    width: 33%;
  }

  .priceContainer .inputContainer:nth-child(2) {
    width: 33%;
  }

  .totalPriceContainer {
    margin-right: 24px;
    width: 50px;
  }

  #cityFrom {
    margin-right: 0;
  }

  #postFrom {
    margin-left: 0;
  }

  #cityTo {
    margin-right: 0;
  }

  #postTo {
    margin-left: 0;
  }

  .dateTermsContainer {
    margin-bottom: 0;
  }

}

