/****************************
************Form*************
****************************/
.formContainer {
  padding: 0 24px;
  background-color: var(--backgroundForm);
}

.inputCityContainer {
  display: flex;
  flex-wrap: wrap;
}

.inputCityContainer .inputContainer {
  flex: 1 1 50%;
  min-width: 0;
}

.inputCityContainer .inputContainer:nth-child(3) {
  flex-basis: 100%;
}

.formItemListText {
  color: #777F98;
  font-family: 'League Spartan', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.375px;
}

.itemListContainer {
  margin-bottom: 48px;
}

.priceContainer {
  display: flex;
}

.totalPrice {
  padding-top: 15px;
}

.deleteIconContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.priceContainer .inputContainer:first-child {
  width: 100px;
  margin-right: 16px;
}

.priceContainer .inputContainer:nth-child(2) {
  width: 100px;
  margin-right: 16px;
}

.totalPriceContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .formContainer {
    height: 100%;
  }
}

