/****************************
*********Input Box***********
****************************/

.input {
  border-radius: 4px;
  border: 1px solid var(--inputBorderColor);
  background: var(--inputBackground);
  color: var(--textPrimary);
  font-family: 'League Spartan', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  height: 48px;
  padding: 0 20px;
  cursor: pointer;
}

.input:hover{
  border: 1px solid var(--violet);
}

.labelContainer {
  display: flex;
  justify-content: space-between;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.inputLabel {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: var(--textSecondary);
  letter-spacing: -0.2px;
}

.alert {
  color: var(--red);
}

/* Chrome, Safari, Edge, Opera, remove arrow*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox, remove arrows */
input[type=number] {
  -moz-appearance: textfield;
}
