/****************************
********Toggle Icon**********
****************************/

.toggleSwitchContainer {
  padding: 0 24px;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .toggleSwitchContainer {
    padding: 24px 0;
  }
}
