/****************************
************App**************
****************************/
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) {
  .app {
    width: 100%;
    flex-direction: row;
  }

  .main {
    width: 1200px;
  }
}
