@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'League Spartan', sans-serif;
  background-color: var(--background);
}

html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

:root {
  --violet: #7C5DFA;
  --lightViolet: #9277FF;
  --darkBlue: #1E2139;
  --clay: #252945;
  --lightBlue: #DFE3FA;
  --gray: #888EB0;
  --lightGray: #F9FAFE;
  --green: #33D69F;
  --blue: #7E88C3;
  --black: #0C0E16;
  --red: #EC5757;
  --pink: #FF9797;
  --ghostWhite: #F8F8FB;
  --eerieBlack: #141625;
  --orange: #FF8F00;
  --charcoal: #373B53;
  --white: #FFF;
  --background: var(--ghostWhite);
  --textPrimary: var(--black);
  --textSecondary: var(--gray);
  --buttonChange: var(--lightGray);
  --buttonChangeText: var(--blue);
  --buttonChangeHover: var(--lightBlue);
  --buttonSaveDraftHover: var(--black);
  --inputBackground: var(--white);
  --inputBorderColor: var(--lightBlue);
  --datePickerBackground: var(--white);
  --dropDownDivider: var(--lightBlue);
}

[data-theme="dark"] {
  --background: var(--eerieBlack);
  --textPrimary: var(--white);
  --textSecondary: var(--lightBlue);
  --buttonChange: var(--clay);
  --buttonChangeText: var(--lightBlue);
  --buttonChangeHover: var(--white);
  --buttonSaveDraftHover: var(--darkBlue);
  --inputBackground: var(--darkBlue);
  --inputBorderColor: var(--clay);
  --datePickerBackground: var(--clay);
  --dropDownDivider: var(--darkBlue);
}

